.quote{
    font: 400 72px "Arizonia", Helvetica, sans-serif;
    color: #F4645F;
    text-align: center;
}

body {
    background-image: url("../images/hd-wallpaper-ivy-leaves-.jpg");
    background-color: #cccccc;
}

.post-title{
    color: #F4645F;
}
div.footer {
    display: block;
    text-align: center;
    position: running(footer);
    color: #2d995b;
    background-color: #1d643b;
}
html, body {
    width: 100%;
    height: 100%;
}
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
    font-size: 12%;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    font-size: 12%;
}

.jumbotron .container {
    max-width: 40rem;
    font-size: 12%;
}

.footer {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;

}

footer p {
    margin-bottom: .25rem;
    color: #2d995b;
}

.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
